.cart-widget {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-widget img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
strong{
    color: #fff;
    
}
.cart-widget span {
    background-color: #fff;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
}